*{
    background-color: #78088f;
    color: black;
}
h1{
    color:bisque;
    font-family: 'Times New Roman', Times, serif;
    
}
h2{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
}
.resaltado{
    background-color: #78088f;
    color:aquamarine;
    font-family:'Times New Roman', Times, serif;
    font-size:28px;

}